!DOCTYPE html>
	<html>
	<head>
	</head>
	<body>
	
<h1>PANGLIBREEEEEEEE HAHAHAHA!</h1>
<p>DUOL AYAW KAULAW!</p>



<ul>
	<li>WELCOME</li>
	<li> TO JULIA</li>
	<li> RESTAURANT</li>
	<li>HAVE A GOOD DAY</li>
</ul>


</body>
</html>
